<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
    <php>
        <server name='REQUEST_METHOD' value='GET' />
    </php>
    <testsuites>
        <testsuite name="Test suite">
            
            <directory>tests</directory>
            
        </testsuite>
    </testsuites>
<!--    <logging>
        <log
            type="coverage-html"
            target="./tmp/coverage/html/"
            charset="UTF-8"
            highlight="true"
            lowUpperBound="60"
            highLowerBound="90"
        />
        <log
            type="coverage-clover"
            target="./tmp/coverage/clover.xml"
        />
    </logging>-->
</phpunit>