{% extends "templates/createtask.twig" %}

{% block content %}

    <div class="col-md-8">
        <div class="content-box-large">
            <div class="panel-heading">
                <div class="panel-title">Create New Task</div>
            </div>
            <div class="panel-body">
                <form action="" method="POST">
                    <fieldset>
                        <div class="row">
                            <div class="form-group pull-left">
                                <label>Date*</label>
                                <div class="bfh-datepicker" data-format="y-m-d" data-date="today"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-10">
                                <label>Subject*</label>
                                <input type="text" class="form-control" placeholder="Subject">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group pull-left">
                                <label>Description*</label>
                                <div class="panel-body">
                                    <textarea id="tinymce_basic"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group pull-left col-sm-10">
                                <label>Task Type*</label>
                                <div class="bfh-selectbox" data-name="selectbox3" data-value="12" data-filter="true">
                                    <div data-value="Urgent">Urgent</div>
                                    <div data-value="High">High</div>
                                    <div data-value="Standart">Standart</div>
                                    <div data-value="Minor">Minor</div>
                                    <div data-value="Low Priority">Low Priority</div>
                                    <div data-value="Critical">Critical</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group pull-left col-sm-10">
                                <label>Department*</label>
                                <div class="bfh-selectbox" data-name="selectbox3" data-value="12" data-filter="true">
                                    <div data-value="HR">HR</div>
                                    <div data-value="Development">Development</div>
                                    <div data-value="Delivery">Delivery</div>
                                    <div data-value="Testing">Testing</div>
                                    <div data-value="English Department">English Department</div>
                                    <div data-value="Training Center">Training Center</div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div>
                        <button type="back" class="btn btn-primary pull-left" style="margin: 0 2px">BACK</button>
                        <button type="submit" class="btn btn-primary pull-right" style="margin: 0 2px">UPDATE</button>
                        <button type="reset" class="btn btn-primary pull-right" style="margin: 0 2px">CANCEL</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}