{% extends "templates/user.twig" %}

{% block content %}
  	<div class="header">
	     <div class="container">
	        <div class="row">
	           <div class="col-md-12">
	              <!-- Logo -->
	              <div class="logo">
	                 <h1><a href="/questionnaire/">Questionnaire</a></h1>
	              </div>
	           </div>
	        </div>
	     </div>
	</div>
	<div class="page-content container">
            <div class="row">
                <p>User id is {{ data.id }} </p>
            </div>
	</div>

{% endblock %}